public/wp-admin/
public/wp-includes/
public/wp-*.php
public/index.php
public/license.txt
public/readme.html
public/xmlrpc.php
public/wp-config.php
public/wp-content/uploads/
public/wp-content/cache/
public/wp-content/upgrade/
public/wp-content/debug.log
public/wp-content/index.php
public/wp-content/plugins/index.php
public/wp-content/plugins/akismet/
public/wp-content/plugins/hello.php
public/wp-content/themes/index.php
public/wp-content/themes/twentytwenty*/
.env
*.sql
*.log
.DS_Store
